:root {
  --guest-image-width: 300px;
}

* {
  font-family: "Nunito Sans", sans-serif !important;
}

.guest-img {
  height: var(--guest-image-width);
  width: var(--guest-image-width);
  object-fit: cover;
  background-color: #dcdcdc;
}

.guest {
  width: var(--guest-image-width);
  height: var(--guest-image-width);
  padding-left: 0;
  margin: calc(1.5rem / 2);
}

#flipdown {
  margin-top: 10px;
  margin-bottom: 90px;
}

#flipdown-title {
  text-shadow: 5px 3px 4px rgb(36 36 36);
  letter-spacing: 0.7px;
  font-weight: 600;
  text-transform: uppercase;
}

.devfolio-button-iframe {
  width: 275px !important;
  height: 44px;
}

.gold-supporters-logo {
  height: 130px !important;
}

.silver-supporters-logo {
  height: 100px !important;
}

.sponsor-title {
  height: 50px;
}

@media (min-width: 1200px) {
  .supporters-wrap .col-xl-1 {
    width: 15.6666% !important;
  }
}

#schedule .nav-tabs li {
  margin: 5px;
}
.navbar-mobile a {
  font-size: 15px;
  padding-bottom: 6px !important;
}

.navbar > ul > li > a {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 2px;
  letter-spacing: 1px;
}

#hero h1 {
  font-weight: 700;
}

#site-logo {
  transition: width 2s ease-in-out;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: unset;
}

.button-section {
  margin-top: 10px;
}

#discord-button {
  background-color: #5c7ae9;
  margin-top: 20px;
  width: 275px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  border: 0;
}

#discord-button i {
  font-size: 24px;
  margin-right: 8px;
}

.schedule .schedule-item time {
  font-weight: 600;
}

.schedule .schedule-item time span {
  white-space: nowrap;
}

.speaker img.android {
  height: 59% !important;
}

.prize-border {
  border-width: 15px;
  border-style: double;
}

.category-border {
  border-width: 5px;
}

.prize-border a,
.category-border a {
  color: #2b7e49;
}

.gold-border {
  border-color: #ffd700 !important;
}

/* .gold-border a {
  color: #ffd700!important;
  text-shadow: 1px 1px 1px #8d8d8d!important
} */

.silver-border {
  border-color: #c0c0c0 !important;
}

.bronze-border {
  border-color: #cd7f32 !important;
}

#buy-tickets {
  padding-bottom: 20px;
}

.category-border img {
  height: 50px;
  transform: scale(0.9);
  object-fit: contain;
}

.category-border .card-price {
  font-size: 24px !important;
}


.speaker-modal img {
  object-fit: cover;
}

.speaker-modal .event-calendar-icon {
  font-size: 1.15rem;
}

.speaker-modal .social-icon {
  font-size: 1.5rem;
}

.speaker-modal .youtube-icon {
  font-size: 20px;
}
  
.speaker-modal img {
  border: 4px solid #3ac76e;
}


.speaker.col {
  flex: none;
}

#team-section .sponsor-title h4{

  color: #227741;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 600;
}